body {
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91c2ea, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91c2ea, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: verdana;
  }
  
  .spinner-container {
    padding-top: 2rem;
    text-align: center;
  }
  
  #rotation {
    animation: anim 1s infinite linear;
    transform-origin: 50.5% 50%;
  }
  
  @keyframes anim {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  
  #circle {
    border-radius: 50px;
    background: white;
    width: 60px;
    height: 60px;
    transform-origin: 53% 55%;
  }
  